html {
	overflow-y: scroll;
}
html, body{
	height: 100%;
	margin: 0;
	background: black;
	color: orchid; font-family: monospace;
}
#wrap, footer{
	width: 95%;
	margin: auto;
}
#wrap{
	min-height: 100%;
	margin-bottom: -72px;
}
#wrap:after{
	content: "";
	display: block;
	height: 40px;
}
#wrap + footer{
	height: 39px;
	padding-top: 16px;
	margin-top: 16px;
	border-top: 1px solid orchid;
}
main, nav, footer, article, header{
	display: block;
}
header {
	display: block;
	margin-bottom: 16px;
}
#wrap > header{
	border-bottom: 2px solid aqua;
}
article {
	border-left: 2px solid orchid;
	padding-left: 16px;
}
nav.paginator {
	margin: 16px 0;
	text-align: right;
}
h1, h1 a:visited, h2, h2 a:visited, h3, h3 a:visited,
h4, h4 a:visited, h5, h5 a:visited, h6, h6 a:visited{
	color: aqua;
	margin:0 0 0 0;
}
h1{
	margin-bottom: 20px;
	padding-top: 20px;
}
h2{
	margin-bottom: 10px;
	margin-top: 20px;
}
h3{
	margin-top: 10px;
}
hr {
	border: 1px solid orchid;
}
a{
	color: aqua;
}
a:visited{
	color: steelblue;
}

ul{
	list-style: inside square;
	padding-left: 5px;
}

p{
	margin: 0px 0px 10px;
}

@media (min-width: 810px) {
	#wrap, footer{
		width: 800px;
	}
	#wrap > nav {
		float: left;
		width: 200px;
	}
	#wrap > main {
		margin-left: 200px;
	}
}
