<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/iridescent.css" />
	{% endblock head %}
</head>

<body>
	<div id=wrap>
		<header>
		  <h1><a href="{{ SITEURL }}/">
		      <img height="100%" width="100%" src="{{ SITE_IMAGE }}" alt="{{ SITENAME }}">
		  </a></h1>
		</header>

		<main>{% block content %}
		{% endblock %}</main>
	</div>

	<footer>
		{{ SITENAME }} &ndash; 2017.
	</footer>
</body>
</html>
